.map-list-container___2g7UT {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  overflow: hidden;
}
.map-list-container___2g7UT .upload_spin_container___23Zef {
  position: fixed;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.map-list-container-data___2W6qa {
  display: flex;
  flex: 1 1;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  overflow: scroll;
}
.map-list-container-item___PWz8U {
  position: relative;
  height: 300px;
  width: 284px;
  margin: 15px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 3px #c8d0dc;
}
.map-list-container-item___PWz8U:hover {
  background-color: #efe6e9;
}
.map-list-container-item_content___18TE3,
.map-list-container-item_img___1Vds9 {
  width: 284px;
  height: 210px;
  object-fit: contain;
}
.map-list-container-item_content___18TE3 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  cursor: pointer;
}
.map-list-container-item_content___18TE3 .icon___330nq {
  color: #6667EF;
  font-size: 120px;
}
.map-list-container-item_content___18TE3 .create_icon___2qZN6 {
  font-size: 100px;
}
.map-list-container-item_content___18TE3 .create_btn___2r71p {
  margin: 20px 40px 0 40px;
  color: white;
  background-color: #6667EF;
}
.map-list-container-item_content___18TE3 .numberStr___aShlG {
  color: #c7cadb;
  font-size: 10px;
  text-align: center;
}
.map-list-container-item_content___18TE3 .numberStr___aShlG .number___F6a6E {
  color: #6667EF;
}
.map-list-container-item_content___18TE3 .name___nBrEU {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
}
.map-list-container-item_state___1avIY {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px;
}
.map-list-container-item_foot___1UXA2 {
  padding: 17px 15px;
  height: 90px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
}
.map-list-container-item_foot___1UXA2 .foot_name--floor___1nsxz {
  text-overflow: ellipsis;
  overflow: hidden;
}
.map-list-container-item_foot___1UXA2 .foot_name--floor_point___ilLBG {
  color: #100f0f;
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
}
.map-list-container-item_foot___1UXA2 .foot_action___1kKZH {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.map-list-container-tree___2PoUL {
  width: 250px;
  height: calc(100% - 24px);
  overflow: hidden;
  background-color: #f5f5fb;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 3px #c8d0dc;
}
.map-list-container-tree_title___2p9lv {
  display: flex;
  justify-content: space-between;
  padding: 8px 8px;
  background-color: white;
}
.map-list-container-tree_title___2p9lv span {
  font-weight: 600;
  font-size: 14px;
}
.map-list-container-tree_title___2p9lv .icon-box___2CN65 {
  display: flex;
}
.map-list-container-tree_title___2p9lv .icon___330nq {
  margin-left: 5px;
  padding: 6px;
  color: white;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
}
.map-list-container-tree_title--inactive___35Zem {
  display: flex;
  justify-content: flex-end;
  padding: 8px 8px;
}
.map-list-container-tree_title--inactive___35Zem .icon___330nq {
  padding: 6px;
  color: white;
  background-color: black;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 3px #c8d0dc;
  cursor: pointer;
}
.map-list-container-tree_tree___-lWeM {
  padding-top: 10px;
  background-color: #f5f5fb;
  height: calc(100% - 10px);
  overflow: auto;
}


/*# sourceMappingURL=p__WorkspaceManage__Map.chunk.css.map*/